#log_form {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 0.2em;
}/* #log_form */


#log_panel {
	display: flex;
	flex-direction: row;
	column-rule: black;
}/* #log_panel */


#log_information_panel {
	padding-right: 1em;
}/* #log_information_panel */


#log_form_panel {
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	border-left: solid 1px black;
	justify-content: flex-start;
	align-items: flex-start;
}/* #log_form_panel */



/* #log_panel, #log_panel * { border: solid 1px red } */




#history_panel {
	border-bottom: solid 1px black;
	border-right: solid 1px black;
	display: grid;
	grid-template-columns: repeat(3, min-content);
	white-space: nowrap;
}/* #history_panel */


#history_panel div {
	border-top: solid 1px black;
	border-left: solid 1px black;
	padding: 0.2em 1em;
}/* #history_panel div */


#history_panel .log-title, #history_panel .log-entry {
	display: contents;
}/* #history_panel .log-title, #history_panel .log-entry */


#history_panel .log-title div {
	font-weight: bold;
	background-color: var(--highlight-color);
}/* #history_panel .log-title div */


#history_panel .log-entry div:nth-child(3) {
	text-align: right;
}/* #history_panel .log-entry div:nth-child(3) */


#log_button {
	height: 100%;
	white-space: nowrap;
}/* #log_button */