#report_panel hr {
	margin: 1em 0;
	grid-column: 1 / -1;
}/* #report_panel hr */

hr.report-rule {
	grid-column: 1 / -1;
	color: var(--border-color);
	margin: 1em 0;
}/* hr.report-rule */

div.report-grid div.ghost-box > div { padding: 0 1em }
div.report-grid div.ghost-box > div:not(:first-child) { text-align: right }

