#report_panel hr {
	margin: 1em 0;
	grid-column: 1 / -1;
}/* #report_panel hr */


hr.report-rule {
	grid-column: 1 / -1;
	color: var(--border-color);
	margin: 1em 0;
}/* hr.report-rule */


/********/


div.report-grid {
	border-left: solid 1px var(--border-color);
	border-bottom: solid 1px var(--border-color);
}/* div.report-grid */


div.report-grid > div {
	border: solid 1px var(--border-color);
	border-left: none;
	border-bottom: none;
}/* div.report-grid */


div.report-grid div {
	padding: 0.2em 0.5em;
}/* div.report-grid div */


div.report-grid div.report-header { display: contents }


div.report-grid div.report-header div { 
	background-color: var(--report-subheader-color);
	border-top: solid 1px var(--border-color);
	border-right: solid 1px var(--border-color);
}/* div.report-grid div.report-header div */


div.overtime-grid > div { color: #C22 }


/********/


div.report-grid div.report-entry { display: contents }


div.report-grid div.report-entry div { 
	border-right: solid 1px var(--border-color);
	border-top: solid 1px var(--border-color);
}/* div.report-grid div.report-entry div */


div.report-entry div.ghost-box > div { padding: 0 1em }
div.report-entry div.ghost-box > div:not(:first-child) { text-align: right }


div.report-entry div.report-notes {
	width: 25vw;
	white-space: break-spaces;
}/* div.report-entry div.report-notes */


div.report-grid div.footer, div.report-grid div.footer-total { display: contents }


div.report-grid div.footer > div, div.report-grid div.footer-total > div {
	border-top: solid 1px var(--border-color);
	border-right: solid 1px var(--border-color);
	background-color: var(--report-footer-color);
	text-align: right;
}/* div.report-grid div.footer > div, div.report-grid div.footer-total > div */


div.report-grid div.footer-total > div { background-color: var(--report-footer-total-color) }


/********/


div.timebar {

	border: solid 1px var(--border-color);
	border-radius: 999px;

	width: 10em;
	height: 100%;
	
	position: relative;
	overflow: hidden;

}/* div.timebar */


div.timebar div { 
	height: 100%;
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
}/* div.timebar div */


/********/


div.simple-report {
	display: grid;
	row-gap: 0 !important;
}/* div.simple-report */


div.simple-report div.report-title { display: contents }
div.simple-report div.report-row { display: contents }
div.simple-report div.report-footer { display: contents }


div.simple-report div.report-title > div { 
	background-color: var(--report-subheader-color);
	font-weight: bold;
}/* div.simple-report div.report-title > div */

div.simple-report div.report-title > div,
div.simple-report div.report-row > div,
div.simple-report div.report-footer > div {
	border-bottom: solid 1px var(--border-color);
	border-left: solid 1px var(--border-color);
	padding: 0.125em 0.5em;
	overflow: hidden;
}/* div.simple-report div.report-row > div, div.simple-report div.report-title > div */


div.simple-report div.report-title > div:last-child, 
div.simple-report div.report-row > div:last-child,
div.simple-report div.report-footer > div:last-child { border-right: solid 1px var(--border-color) }


div.simple-report div.report-title > div { border-top: solid 1px var(--border-color) }


div.simple-report div.report-footer > div {
	background-color: var(--report-footer-color);
	text-align: right;
}/* div.simple-report div.report-footer > div */


/********/


div.teamster-report {
	display: grid;
	grid-template-columns: repeat(6, max-content);
}/* div.teamster-report */


div.teamster-report div.report-title > div:nth-last-child(2), 
div.teamster-report div.report-row > div:nth-last-child(2) { border-right: solid 1px var(--border-color) }

div.teamster-report div.report-title > div:last-child, 
div.teamster-report div.report-row > div:last-child { border-right: none }


div.teamster-report div.report-indicator {
	display: flex;
	flex-direction: column;
	row-gap: 1px;
}/* div.teamster-report div.report-indicator */





























