.popup-modal {
	background-color: #808080;
	opacity: 0.5;
	z-index: 1;
}/* .popup-modal */


.popup-window {
	background-color: white;
	border-radius: 0.7em;
	padding: 0.5em;
	z-index: 2;
}/* popup-window */


.popup-inset {
	border: solid 1px gray;
	border-radius: 0.6em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1em;
}/* .popup-inset */


.popup-panel  {
	display: flex;
	align-items: center;
	justify-content: center;
}/* popup-panel  */