/**** Containers ****/


.row-container {
	display: flex;
	flex-direction: row;
align-self: stretch;}/* .row-container */


.span-all, .span-all-columns { grid-column: 1 / -1 }
.span-all, .span-all-rows { grid-row: 1 / -1 }


.row-spaced { row-gap: 2em }


.overlay-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	justify-content: normal;
}/* .overlay-container */


.overlay-container > * {
	grid-column: 1;
	grid-row: 1;
}/* .overlay-container > * */


/**** Justification and Layout Containers ****/


.self-centered {
	justify-self: center;
	align-self: center;
}/* self-centered */


.centering-cell {
	justify-items: center;
	align-items: center;
}/* .centering-cell */


.right-aligned { text-align: right !important }

.with-headspace { margin-top: 1em }


/** inline-flex **/


.flex-row {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}/* flex-row */


.centering-container {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}/* .centering-container */


.horizontally-centered {
	display: flex;
	flex-direction: row;
	justify-content: center;
}/* .horizontally-centered */


.vertically-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
}/* .vertically-centered */


/** Flex Row **/


.right-justify {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}/* .right-justify */


.horizontally-spaced-out {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
align-items: center;}/* .horizontally-spaced-out */


/** Flex Column **/


.right-justified-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}/* right-justified-column */


.top-center-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}/* .top-center-container */


.vertically-spaced-out {
	display: flex;
	flex-direction: column;
	justify-content: space-between
}/* .vertically-spaced-out */


.bottom-justified {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}/* .bottom-justified */


/**** Line Breaks ****/


div.break, div.half-break {
	display: flex;
	grid-column: 1 / -1;
}/* div.break, div.half-break */


div.break		{ height: 1em }
div.half-break	{ height: 0.5em }


/********/


div.button-panel {
	display: flex;
	flex-direction: row;
	column-gap: 0.25em;
	justify-content: flex-end;
}/* div.button-panel */


div.button-column {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	row-gap: 0.25em;
	padding: 2em 2em 0 0
}/* div.button-column */


/********/


.border-panel {
	border-left: solid 1px var(--border-color);
	margin-left: var(--double-margin);
	padding-left: var(--double-padding);
}/* .border-panel */


/********/


.form-panel input {
	height: var(--standard-height);
}/* .form-panel input */


.form-panel button {
	display: flex;
	height: var(--standard-height);
	align-items: center;
	justify-content: center;
}/* .form-panel */


/**** Class Definitions ****/


.full-size {
	position: absolute;
	left: 0;
	top: 0;
}/* full_size */


.subheader {
	font-weight: bold;
	font-style: italic;
}/* subheader */


.scroll-list {
	border: solid 1px black;
	border-radius: 0.1em;
}/* scroll-list */


.list-header {
	margin-bottom: 1em;
}/* list-title */


.list-header > div {
	font-weight: bold;
}/* .list-header > div */


/********/


.login-error {
	display: flex;
	justify-items: center;
	align-items: center;
	text-align: left;
	font-style: italic;
	margin-bottom: 2em;
}/* .login-error */


/**** Debugging ****/


.bordered, .borderlined, .borderlined > *, .outlined, .outlined * {
	border: solid 1px red;
}/* border styles */


.gray-outlined {
	border: none;
	row-gap: 0.25em;
}/* .gray-outlined */



.unsigned-signin {
	display: flex;
	flex-direction: column;
}/* unsigned-signin */


.banner-signin {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	width: 100%;
}/* banner-signin */


/********/


.aside {

	font-style: italic;
	font-size: 9pt;
	font-weight: bold;

	display: flex;
	flex-direction: row;
	align-items: center;

}/* aside */


.eyecandy-cell {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}/* eyecandy-cell */


.eyecandy-cell > div { display: inline-block }

.eyecandy-cell > div:first-child { margin-right: 1em }


/**** Button Panels ****/


.button-bar {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    column-gap: 0.25em;
    margin-top: 1em;
}/* .button-bar */


/**** Frame Styles ****/


.shadow-box {
	border: solid 1px black;
	box-shadow: 2px 2px 10px #333;
	padding: 2em;
	margin: 2em;
}/* .shadow-box */


/********/


.double-column { grid-column: span 2;}
.full-row { grid-column: 1 / -1 }


/**** Image Styles ****/


.progress-image { margin: 0 0.5em }


/**** Grid Styles ****/


div[class*="two-column-"]	{ grid-template-columns: repeat(2, min-content) }
div[class*="three-column-"]	{ grid-template-columns: repeat(3, min-content) }
div[class*="four-column-"]	{ grid-template-columns: repeat(4, min-content) }


div[class*="-column-newspaper"], div[class*="-column-grid"] {
	display: grid;
	row-gap: 0.2em;
}/* div[class*="-column-newspaper"], div[class*="-column-grid"] */


div[class*="-column-newspaper"] > div:nth-child(odd) { 
	border-right: solid 1px var(--border-color);
	padding-right: 1em;
	margin-right: 1em;
}/* div[class*="-column-newspaper"] > div:nth-child(odd) */


div[class*="-column-grid"] label {
	display: inline-flex;
	align-items: center;
}/* div[class*="-column-grid"] label */


div.header-column {
	display: grid;
	grid-template-rows: min-content 1fr;
}/* div.header-column */


/**** Forms ****/


div[class*="-piece-form"] {
	display: grid;
	align-items: center;
	justify-content: stretch;
	column-gap: 0.5em;
	row-gap: 0.2em;
}/* div[class*="-piece-form"] */


div.one-piece-form		{ grid-template-columns: min-content 1fr }
div.two-piece-form		{ grid-template-columns: repeat(2, min-content 1fr) }
div.three-piece-form	{ grid-template-columns: repeat(3, min-content 1fr) }


div.form-table label {
	text-align: right;
	align-self: center;
}/* div.form-table */


/**** Proving Ground ****/


#testthing::before {
	content: "some content";
}
				
#testthing::after {
	content: "more content";
}
				


