/**** Global Variables ****/

:root {

	--default-color: black;

	--border-color: black;
	--highlight-color: #FFF2CC;

	--mouseover-color: #999D66;

	--error-color: #C00;
	--warning-color: #A00;

	--error-highlight: #FFFAFA;

	--double-margin: 2em;
	--double-padding: 2em;

	--standard-height: 1.5em;
	--double-height: 2em;
	--full-height: 3em;

	--single-height: var(--standard-height);

	--standard-column-gap: 0.5em;
	--standard-row-gap: 0.2em;

}/* root */


/**** Globals ****/


*.unselectable * { user-select: inherit }


* {
	font-family: Geneva, Verdana, Tahoma, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	overflow: visible;
}/* * */


*:not(textarea) {white-space: nowrap;}


*:focus {
	outline: none
}/* *:focus */


html, body, .full-screen, .full-size {
	margin: 0;
	padding: 0;
}/* html, body, .full-screen, .full-size */


html, body, .full-screen, .full-size, .full-width	{ width: 100% }
html, body, .full-screen, .full-size, .full-height	{ height: 100% }


a {
	text-decoration: underline;
	color: blue;
}


a:hover, .link-control:hover { cursor: pointer }


/********/


br.half 	{ line-height: 0.5em }

br.double	{ line-height: 2em }
br.triple	{ line-height: 3em }


/********/


body {
	overflow: hidden;
	padding: 1em;
	/* overflow-y: scroll; */
}/* body */


button, div, *.unselectable {
    -webkit-user-select: none;	/* Apple */
    -ms-user-select: none;		/* Microsoft */
    user-select: none;			/* Everyone else */
}/* button, div, unselectable */


*.unselectable * { user-select: inherit }


button {
	color: black;
	border: solid 1px black;
	padding: 0.2em 1em;
	border-radius: 999px;
	background-color: white;
	font-weight: bold !important;
	cursor: pointer;
	height: var(--double-height);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	justify-items: center;
}/* button */


button:hover {
	color: white;
	background-color: black;
}/* button:hover */


button[disabled], button[disabled]:hover {
	color: white;
	background-color: #CCC;
	border-color: #AAA;
	cursor: default;
}/* button[disabled],button [disabled]:hover */


button, *.unselectable {
    -webkit-user-select: none;	/* Apple */
    -ms-user-select: none;		/* Microsoft */
    user-select: none;			/* Everyone else */
}/* button, unselectable */


input, select {
	border: solid 1px black;
	border-radius: 999px;
}/* input, select */


input {
	height: 2em;
	padding: 1em;
	padding: 0.01em 0.5em;
}/* input */


input[type=number] { text-align: center }


input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}/* input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button */


input.invalid, select.invalid {
	border: solid 1px var(--error-color);
	background-color: var(--error-highlight);
}/* input.invalid, select.invalid */


/********/


label {
	margin-right: 0.5em;
	text-align: right;
	white-space: nowrap;
}/* label */


label.header {
	display: flex;
	font-size: 11pt !important;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	margin-bottom: 0.7em;
	width: 100%;
}/* label.header */


/********/


select { padding-left: 0.25em }


select:not([multiple]) {
	height: var(--double-height);
}/* select:not(multiple) */


textarea {
	padding: 0.2em 0.5em;
	border-color: black;
	border-radius: 1em;
	border-bottom-right-radius: 0;
}/* textarea */


/**** Partial Classes ****/


[class*="-piece-form"], [class*="-piece-grid"] {
	display: grid;
	align-items: center;
	row-gap: 0.2em;
	column-gap: 1em;
	justify-content: center;
}/* [class*="-piece-form"] */


/**** ID Classes ****/


#home_panel  {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}/* #home_panel */


#main_panel .outlined-panel {
	border: solid 1px #AAA;
	padding: 1em;
	overflow-y: scroll;
	height: calc(100vh - 2em);
	width: calc(100vw - 2em);
}/* #main_panel .outlined-panel */


/**** Payment ****/


#payment_panel {
	display: flex;
	flex-direction: column;
	align-items: center;
}/* #payment_panel */


.payment-form {
	white-space: nowrap;
}/* payment-form */


.payment-form .subpanel {
	display: flex;
	flex-direction: row;
}/* .payment-form .subpanel */


.payment-form .cc-details input { width: 5em }
.payment-form .cc-details label { margin: 0 1em }


.payment-form .select-list select { flex-grow: 1 }


.payment-form .select-list [placeholder="Year"] {
	width: 5em;
	margin-left: 0.5em;
}/* .cc-details .select-list [placeholder="Year"] */


/********/


#outer_control {
	display: flex;
	flex-direction: column;
	align-items: center;
}/* #outer_control */


/********/


#data_indicator {
	position: absolute;
	right: 2em;
	bottom: 2em;
	transition: opacity 100ms ease-in-out;
	opacity: 0;
}


#signin_eyecandy_contents { z-index: 1 }


/********/

