
div.page-header {
	padding-bottom: 2em;
	display: inline-flex;
	flex-direction: column;
	justify-self: center;
}/* div.page-header */


div.title, div.tagline {
	font-size: 12pt;
	font-weight: bold;
	font-style: italic;
}/* div.title, div.tagline */


div.tagline { font-size: 10pt }