div.time-picker { 
	margin-top: 1em;
	justify-content: space-between;
	align-items: stretch;
}/* div.time-picker */


div.time-picker div.meridian > div {  
	font-size: 10pt;
	font-weight: bold;
	margin: 0.1em;
	padding: 0.1em 0.5em;
	border: solid 1px black;
	border-radius: 999px;
	cursor: pointer;
}/* div.time-picker div.meridian > div */


div.time-picker div.meridian > div:hover {
	background-color: var(--mouseover-color)
}/* div.time-picker div.meridian > div:hover */


div.time-picker div.meridian > div.selected { background-color: var(--highlight-color) }


time.react-clock {
	width: 7em !important;
	height: 7em !important;
}/* time.react-clock */