div.credit-card-logos {
	align-items: center;
	column-gap: 0.2em;
}/* div.credit-card-logos */


div.credit-card-logos img {
	border: solid 1px white; /* var(--border-color); */
	height: 1.4em;
	width: auto;
}/* div.credit-card-logos img */


div.keep-card-checkbox {
	font-size: 14px; /* consistent with Square */
	position: relative;
	top: -28px;
}/* div.keep-card-checkbox */


img.square-logo { height: 2em }


