div.toggle-switch { 
	display: inline-flex;
	flex-direction: row;
	position: relative;
	border-radius: 999px;
	border: solid 1px black;
}/* div.toggle-switch */


div.toggle-switch div.item {
	width: 26px;
	height: 26px;
	cursor: pointer;
}/* div.toggle-switch div.item */


div.toggle-switch div.switch {
	width: 26px;
	height: 26px;
	border-radius: 999px;
	border: solid 3px white;
	background-color: black;
	position: absolute;
}/* div.toggle-switch div.switch */
