/**** Global ****/


html, body, .full-screen, .full-size {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}/* html, body, .full-screen, .full-size */


textarea { padding: 0.2em 0.5em }


.full-size {
	position: absolute;
	left: 0;
	top: 0;
}/* full_size */


/**** Containers ****/


.centering-cell {
	justify-items: center;
	align-items: center;
}/* .centering-cell */


.centering-container {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}/* .centering-container */


.horizontal-centering-container {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}/* .horizontal-centering-container */


.vertical-centering-container {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
}/* .vertical-centering-container */


.middle-right-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}/* .middle-right-container */


.top-center-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}/* .top-center-container */


.overlay-container {
	display: inline-grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}/* .overlay-container */


.overlay-container > * {
	grid-column: 1;
	grid-row: 1;
}/* .overlay-container > * */


/**** Button Panels ****/


.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
}/* .button-bar */


.eyecandy-button-panel {
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
}/* .eyecandy-button-panel */