/**** Global Variables ****/

:root {

	--border-color: black;
	--highlight-color: #FFF2CC;

	--double-margin: 2em;
	--double-padding: 2em;

	--standard-height: 1.5em;
	--double-height: 2em;
	--full-height: 3em;

	--single-height: var(--standard-height);

	--standard-column-gap: 0.5em;
	--standard-row-gap: 0.2em;

}/* root */


button, *.unselectable {
    -webkit-user-select: none;	/* Apple */
    -ms-user-select: none;		/* Microsoft */
    user-select: none;			/* Everyone else */
}/* button, unselectable */


*.unselectable * { user-select: inherit }


/**** Containers ****/


.centering-cell {
	justify-items: center;
	align-items: center;
}/* .centering-cell */


.centering-container {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}/* .centering-container */


.horizontal-centering-container {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
}/* .horizontal-centering-container */


.vertical-centering-container {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}/* .vertical-centering-container */


.span-all, .span-all-columns { grid-column: 1 / -1 }
.span-all, .span-all-rows { grid-row: 1 / -1 }


.self-centered {
	justify-self: center;
	align-self: center;
}/* self-centered */


.middle-right-container {
	display: flex;
	flex-direction: row;
	justify-items: flex-end;
	align-items: center;
	justify-content: flex-end;
	align-content: center;
}/* .middle-right-container */


.top-center-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}/* .top-center-container */


.row-spaced { row-gap: 2em }


.overlay-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	justify-content: normal;
}/* .overlay-container */


.overlay-container > * {
	grid-column: 1;
	grid-row: 1;
}/* .overlay-container > * */


/********/


.border-panel {
	border-left: solid 1px var(--border-color);
	margin-left: var(--double-margin);
	padding-left: var(--double-padding);
}/* .border-panel */


/********/


.form-panel input {
	height: var(--standard-height);
}/* .form-panel input */


.form-panel button {
	display: flex;
	height: var(--standard-height);
	align-items: center;
	justify-content: center;
}/* .form-panel */


/**** Class Definitions ****/


.full-size {
	position: absolute;
	left: 0;
	top: 0;
}/* full_size */


.header {
	font-size: 12pt !important;
	font-weight: bold !important;
}/* header */


.subheader {
	font-weight: bold;
	font-style: italic;
}/* subheader */


.scroll-list {
	border: solid 1px black;
	border-radius: 0.1em;
}/* scroll-list */


.list-header {
	margin-bottom: 1em;
}/* list-title */


.list-header > div {
	font-weight: bold;
}/* .list-header > div */


/**** Debugging ****/


.outlined, .outlined * {
	border: solid 1px red;
}/* outlined */


.gray-outlined {
	border: none;
	row-gap: 0.25em;
}/* .gray-outlined */



.unsigned-signin {
	display: flex;
	flex-direction: column;
}/* unsigned-signin */


.banner-signin {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	width: 100%;
}/* banner-signin */


/**** Forms ****/


.one-piece-form {
	grid-template-columns: min-content 1fr;
	row-gap: 0.2em;
}/* one-piece-form */


/********/


.popup-window-form {
	margin-bottom: 1em;
	justify-content: center;
	align-items: center;
}/* .popup-window-form */


.popup-window-form label {
	text-align: right;
}/* .popup-window-form label */


.flex-aligned-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}/* flex-aligned-right */


.flex-row-spaced {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}/* flex-row-spaced */


.flex-grid {
	display: inline-grid;
	flex-direction: row;
	grid-template-columns: repeat(4, auto);
	row-gap: 0.2em;
	column-gap: 1em;
}/* flex-grid */


.form-table label {
	text-align: right;
	align-self: center;
}/* form-table */


.tagline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}/* tagline */


.eyecandy-cell {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}/* eyecandy-cell */


.eyecandy-cell > div { display: inline-block }

.eyecandy-cell > div:first-child { margin-right: 1em }


/**** Button Panels ****/


.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
    z-index: 1;
    position: relative;
}/* .button-bar */


.eyecandy-button-panel {
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
}/* .eyecandy-button-panel */


/**** Frame Styles ****/


.shadow-box {
	border: solid 1px black;
	box-shadow: 2px 2px 10px #333;
	padding: 2em;
	margin: 2em;
}/* .shadow-box */


/**** Grid Styles ****/


div[class*="column-grid"] {
	display: grid;
	row-gap: 0.2em;
}/* div[class*="column-grid"] */


div[class*="column-grid"] label {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}/* div[class*="column-grid"] label */


.two-column-grid	{ grid-template-columns: repeat(2, min-content) }
.three-column-grid	{ grid-template-columns: repeat(3, min-content) }
.four-column-grid	{ grid-template-columns: repeat(4, auto) }


/****/


.double-column { grid-column: span 2 }
.full-row { grid-column: 1 / -1 }


/**** Image Styles ****/


.progress-image { margin: 0 0.5em }


/**** Proving Ground ****/


#ucdebug {
		display: inline-flex;
	}
				
