input.number-input { caret-color: transparent }


input:focus, select:focus, textarea:focus {
	border: var(--highlight-border);
	background-color: var(--highlight-color);
}/* input:focus, select:focus, textarea:focus */


/********/


div.currency-input {
	display: flex; 
	position: relative;
}/* div.currency-input */


div.currency-input > div {
	display: flex;
	position: absolute;
	left: 0.6em;
	top: 0.35em;
	z-index: 1;
	align-items: center;
}/* div.currency-input > div */


div.currency-input input[type=text] { 
	text-align: right;
	caret-color: transparent;
}/* div.currency-input input[type=text] */


/********/


div.arrow-glyph {
	display: inline-flex;
    align-items: center;
    justify-content: center;
}/* div.arrow-glyph */


div.tree-glyph {
	border: solid 0.4em transparent;
	border-right: none;
	border-left: solid 0.7em #444;
	margin-right: 0.5em;
}/* div.tree-glyph */


div.report-grid-data div { margin: 0.2em 0 }


/********/


