input.number-input { caret-color: transparent }

input.number-input:focus { background-color: var(--highlight-color) }


/********/


div.currency-input {
	display: flex; 
	position: relative;
}/* div.currency-input */


div.currency-input > div {
	display: flex;
	position: absolute;
	left: 0.6em;
	top: 0.35em;
	z-index: 1;
	align-items: center;
}/* div.currency-input > div */


/********/


div.arrow-glyph {
	display: flex;
    align-items: center;
    justify-content: center;
	height: 100%;
}/* div.arrow-glyph */


div.tree-glyph {
	border: solid 0.4em transparent;
	border-right: none;
	border-left: solid 0.7em #444;
}/* div.tree-glyph */


/********/


