div.billing-option-form {
	display: grid;
	grid-template-columns: min-content 1fr repeat(2, min-content);
	align-items: center;
	row-gap: 0.2em;
}/* div.billing-option-form */


/*div.billing-option-form label {
	text-align: right;
	align-self: center;
}/* div.billing-option-form label */


input[type=number].rate-field {
	width: 4em;
	text-align: right;
}/* input[type=number].rate-field */


/********/


div.report-grid {
	border-left: solid 1px var(--border-color);
	border-bottom: solid 1px var(--border-color);
}


div.report-grid > div {
	border: solid 1px var(--border-color);
	border-left: none;
	border-bottom: none;
}/* div.report-grid */


div.report-grid div {
	padding: 0.2em 0.5em;
}/* div.report-grid div */


div.report-grid div.report-header div { 
	background-color: #DDEEFF;
	border-top: solid 1px var(--border-color);
	border-right: solid 1px var(--border-color);
}/* div.report-grid div.report-header div */


div.overtime-grid > div { color: #C22 }


/********/


div.checkbox-form label { justify-content: flex-start }