div.page-header { 
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px var(--border-color);
}/* div.page-header */


div.page-footer {
	margin-top: 1em;
	padding-top: 0.5em;
	border-top: solid 1px var(--border-color);
}/* div.page-footer */


div.page-footer div { 
	display: flex;
	justify-content: center;
	font-size: 8pt;
}/* div.page-footer div */


div.program-title {
	display: inline-flex;
	flex-direction: column;
	justify-self: center;
}/* div.program-title */


div.title, div.tagline {
	font-size: 16pt;
	font-style: italic;
	margin-top: 0.25em;
}/* div.title, div.tagline */


div.tagline { font-size: 12pt }


label.mini-title {
	font-size: 7pt;
	font-style: italic;
}/* label.mini-title */