#due_date {
	text-align: right
}/* #due_date */


#task_editor { margin-top: 2em }


#task_editor_contents {/* border:  solid 1px red; */}


#task_list {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 0.5em;
	white-space: nowrap;
}/* #task_list */


#task_form_panel {
	display: flex;
	flex-direction: column;
	row-gap: 0.2em;
}/* task_form_panel */
